@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
}

p {
  font-family: "Source Sans Pro", sans-serif;
}

@media only screen and (min-width: 320px) and (max-width: 667px) {
  p {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: left;
    margin: 0;
  }
  h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 2rem;
    text-align: left;
    margin: 0;
  }
  .Main {
    width: 100%;
    height: 100vh;
    /* background: silver; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Login-Header {
    width: 80%;
    height: 20%;
    /* background: orange; */
    display: flex;
    flex-direction: column;
  }
  .Login-Inputs-Holder {
    width: 90%;
    height: 10%;
    background: #fff;
    border-radius: 5px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
  .Login-Inputs-Holder input {
    width: 100%;
    height: 80%;
    background: none;
    border: none;
    color: black;
    padding-left: 20px;
  }
  ::placeholder {
    color: black;
  }
  .Login-Modes {
    width: 90%;
    height: 10%;
    display: flex;
    flex-direction: row;
    /* background: orange; */
    margin-top: 30px;
    justify-content: space-between;
  }
  .Login-Mode {
    width: 40%;
    height: 100%;
    background: #ff5c58;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  .Login-Mode p {
    color: white;
    padding-left: 20px;
    font-size: 1.4rem;
  }
  span {
    padding-left: 20px;
  }
  .Guest-Mode {
    width: 40%;
    height: 100%;
    background: #e1e5ea;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  .Guest-Mode p {
    padding-left: 20px;
    font-size: 1.2rem;
  }
}
