@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
}

p {
  font-family: "Source Sans Pro", sans-serif;
}

@media only screen and (min-width: 320px) and (max-width: 667px) {
  p {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.6rem;
  }
  h1 {
    font-family: "Source Sans Pro", sans-serif;
  }
  .Main {
    width: 100%;
    height: 100vh;
    background: silver;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .Login-Header {
    width: 60%;
    height: 20%;
    background: orange;
    display: flex;
    align-items: center;
  }
  .Login-Inputs-Holder {
    width: 90%;
    height: 10%;
    background: orange;
    border-radius: 5px;
    margin-top: 30px;
  }
  .Login-Modes {
    width: 90%;
    height: 10%;
    display: flex;
    flex-direction: row;
    background: orange;
    margin-top: 30px;
    justify-content: space-between;
  }
  .Login-Mode {
    width: 40%;
    height: 100%;
    background: red;
    border-radius: 5px;
  }
  .Guest-Mode {
    width: 40%;
    height: 100%;
    background: blue;
    border-radius: 5px;
  }
}
