@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
}

p {
  font-family: "Source Sans Pro", sans-serif;
}
h3 {
  font-family: "Source Sans Pro", sans-serif;
  width: 80%;
  color: silver;
  text-align: center;
}
a {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.8rem;
  color: #ff5c58;
}

@media only screen and (min-width: 320px) and (max-width: 667px) {
  a:hover {
    background: black;
  }
  p {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: left;
    margin: 0;
  }
  h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 2rem;
    text-align: left;
    margin: 0;
  }
  .Section_label {
    background: #ff5c58;
    color: white;
    padding-left: 5px;
  }
  .Main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Login-Header {
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: column;
  }
  .Login-Inputs-Holder {
    width: 90%;
    height: 10%;
    background: #fff;
    border-radius: 5px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
  .Login-Inputs-Holder input {
    width: 100%;
    height: 80%;
    background: none;
    border: none;
    color: black;
    padding-left: 20px;
  }
  ::placeholder {
    color: black;
  }
  .Login-Modes {
    width: 90%;
    height: 10%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
  }
  .Login-Mode {
    width: 40%;
    height: 100%;
    background: #ff5c58;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  .Login-Mode p {
    color: white;
    padding-left: 20px;
    font-size: 1.4rem;
  }
  span {
    padding-left: 20px;
  }
  .pzc-color {
    color: #ff5c58;
    padding: 0;
  }
  .Guest-Mode {
    width: 40%;
    height: 100%;
    background: #e1e5ea;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  .Guest-Mode p {
    padding-left: 20px;
    font-size: 1.2rem;
  }
  /* HOME STYLES */
  .Home-Header {
    width: 95%;
    height: 100%;
  }
  #Home-Search {
    width: 100%;
    height: 8%;
    background: #fff;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }

  #Home-Search-active {
    width: 95%;
    height: 50%;
    background: #fff;
    position: fixed;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    z-index: 500;
  }

  #Home-Search-active input {
    height: 20%;
    background: none;
    padding-left: 20px;
    border-bottom-color: #ff5c58;
    border-bottom-width: 1px;
    border-right: 0;
    border-left: 0;
    border-top: 0;
  }
  #closeSearch {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ff5c58;
    border-radius: 10px;
    right: 20px;
    top: 15px;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
  }

  #Home-Search input {
    width: 100%;
    height: 90%;
    background: none;
    border: none;
    padding-left: 20px;
  }
  #searchItems {
    width: 100%;
    height: 70%;
    display: none;
    flex-direction: column;
  }
  .dropItems {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    padding-left: 20px;
  }
  .Make-Order {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #ff5c58;
    right: 50px;
    bottom: 100px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
  .Make-Order p {
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
  }
  .bx {
    color: #fff;
  }
  .Product-Section {
    width: 100%;
    height: 70%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  .Product-Section label {
    font-family: "Source Sans Pro", sans-serif;
    width: 100%;
    font-weight: 700;
  }
  .Product_Holder {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .Product_Showcase {
    width: 30%;
    height: 40%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
  }
  .Product_Showcase label {
    font-size: 0.7rem;
  }
  .Product_img {
    width: 100%;
    height: 60%;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-bottom: 10px;
  }
  .img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
  }
  .Cart-Header {
    width: 95%;
    height: 100%;
  }
  .Cart_Item_Holder {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Cart_Item_Holder i {
    font-size: 10rem;
    color: #ff5c58;
  }
  .Pick_Product {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 5px;
    overflow: hidden;
  }
  .Pick_Product img {
    width: 30%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
  }
  .Product_Details {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .Product_Details p {
    font-size: 0.9rem;
    padding-top: 5px;
  }
  .RemoveLabel {
    font-weight: bold;
    color: #ff5c58;
    font-size: 1rem;
  }
  .Quantity {
    width: 40%;
    height: 100%;
    background: #f7f6f2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Quantity p {
    font-size: 0.8rem;
    padding-top: 5px;
  }
  .qty {
    font-weight: bold;
    font-size: 1.4rem !important;
  }
  .IncDec {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .Inc {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: #ff5c58;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Dec {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: #ff5c58;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .TotalView {
    width: 100%;
    height: 120px;
    background: #f7f6f2;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .TotalView p {
    font-size: 1.3rem;
    font-weight: bold;
    text-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
  .CheckOut {
    margin-top: 20px;
    background: #ff5c58;
    border-radius: 5px;
    width: 70%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .CheckOut p {
    color: white;
  }
  .Picked_Product {
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 5px;
    overflow: hidden;
  }
  .Picked_Details {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .Picked_Details p {
    font-size: 0.9rem;
    padding-top: 5px;
    padding-left: 10px;
  }
  #paymentModal {
    width: 100%;
    height: 50%;
    position: fixed;
    background: #fff;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    z-index: 80;
  }
  .Paylabel {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Paylabel p {
    font-size: 1.2rem;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: 500;
  }
  .Question {
    width: 95%;
    height: 50%;
    background: #ff5c58;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .Question p {
    font-size: 3rem;
    color: white;
  }
  .Question input {
    width: 60px;
    height: 40px;
    background: white;
    border: none;
    font-size: 2.5rem;
  }
  .Make-payment {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #ff5c58;
    right: 50px;
    bottom: 50px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    z-index: 201;
  }
  .Make-payment p {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
  }
  #two {
    display: none;
    z-index: 201;
  }
  #proceed {
    width: 60%;
    height: 50px;
    background: #ff5c58;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 20px;
    display: none;
    justify-content: center;
    align-items: center;
  }
}
.white {
  color: white;
  font-size: 20px;
}
